# next.js
/.next/
/out/
/build

# dependencies
node_modules/

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# vercel
.vercel
agency-agents/
